<%= if @current_user do %>
<script type="text/javascript">
  window.location = window.location + "tasks";
</script>
<% end %>

<div class="row">
  <div class="col-12">
    <h1>Welcome to Tasktrack</h1>
    <p><%= link "Register", to: Routes.user_path(@conn, :new) %></p>
  </div>
</div>