<%= if String.equivalent?(@conn.request_path, "/tasks") do %>
  <h1>Tasks</h1>
<% else %>
  <h1>My Tasks</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Who</th>
      <th>Description</th>
      <th>Time Spent (minutes)</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for task <- @tasks do %>
    <tr>
      <td><%= if task.complete do %>
        👍
      <% else %>
        👎
      <% end %>
      </td>
      <td><%= link task.user.name, to: Routes.user_path(@conn, :show, task.user) %></td>
      <td><%= link task.description, to: Routes.task_path(@conn, :show, task) %></td>
      <td><%= task.duration %></td>

    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Task", to: Routes.task_path(@conn, :new) %></span>
